
body {
  /* box-sizing: border-box; */
  margin: 0;
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    'Roboto',
    'Oxygen',
    'Ubuntu',
    'Cantarell',
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 11px;
  line-height: 12.89px;
}
a {
  color:inherit;
  text-decoration: none;
}

h2 {
  font-weight: 500;
  font-size: 24px;
  line-height: 18px;
  text-transform: uppercase;
}

h3 {
  font-weight: 500;
  font-size: 20px;
}

.heading {
  text-align: center;
  margin: 35px 0;
  /* margin-bottom: 10px; */
}

.page-body {
  width: 88%;
  margin: 0 auto;
}

#search {
  margin: 40px auto;
}

#search input {
  width: 91%;
  display: block;
  /* border: none; */
  font-size: 16px;
  padding: 8px 10px;
}

#meal-heading {
  position: relative;
  margin: 36px auto;
}

#meal-heading div {
  position: absolute;
  bottom: 0px;
  right: 10px;
  color: #979797;
  font-size: 16px;

}
.meal-choice-container {
  margin: 28px 0;
  display: flex;
  justify-content: space-between;
}
.meal-choice-container div:last-child {
  padding: 6px 28px;
  color: #2E3A59;
  font-size: 20px;
}

.meal-name {
  font-size: 22px;
  line-height: 26px;
}

#add-meal-choice {
  margin-top: 44px;
  font-size: 22px;
  line-height: 26px;
  text-align: right;
  text-decoration-line: underline;
}

#main-nav-bar,
#plus-sign,
#add-items,
.nav-add-meal-button {
  position: absolute;
}

#main-nav-bar {
  width: 100%;
  bottom: 0;
  padding-top: 7px;
  padding-bottom: 10px;
  border: purple 1px solid;
}

#main-nav-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-weight: 500;
}

#add-button {
  position: relative;
}

#plus-sign {
  left: 50%;
  transform: translate(-50%, -50%);
  top: 50%;
}

#add-items {
  width: 100%;
  z-index: -1;
  display: flex;
  justify-content: center;
}

.nav-add-meal-button {
  text-align: center;
  margin-left: -25px;
  transition: 0.5s ease-out;
}

.nav-add-meal-button div:last-child {
  opacity: 0;
  transition: 0.5s ease-out;
}

.nav-add-meal-button.active div:last-child {
  opacity: 1;
}

.nav-add-meal-button.active:first-child {
  transform: translate(-200%, -74px);
}

.nav-add-meal-button.active:last-child {
  transform: translate(200%, -74px);
}

.nav-add-meal-button.active:nth-child(2) {
  transform: translate(-100%, -148px);
}

.nav-add-meal-button.active:nth-child(3) {
  transform: translate(100%, -148px);
}
