
body {
  box-sizing: border-box;
  margin: 0;
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    'Roboto',
    'Oxygen',
    'Ubuntu',
    'Cantarell',
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#main-nav-bar {
  width: 100%;
  height: 70px;
  position: absolute;
  bottom: 0;
  border: purple 1px solid;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#add-button {
  position: relative;
}
#plus-sign {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  top: 50%;
}