.h2 {
  font-size: 20px;
}

.tabFoodOverallData,
.serving,
.editButton {
  font-size: 16px;
}

.tabsContainer,
.tabsInfo,
.serving > div {
  display: flex;
}

.tabsInfo > div {
  margin: 0;
}

.tabsContainer {
  justify-content: center;
  margin: 30px 0;
}

.tab,
.tabActive {
  border: 2px solid;
  width: 50%;
  padding: 14px 0;
  font-size: 15px;
  line-height: 18px;
}

.tab,
.tabActive,
.addButton {
  text-align: center;
  font-weight: 700;
}

.tab {
  border-color: #c4c4c4;
  color: #979797;
}

.tabActive {
  border-color: #909090;
  color: black;
  box-shadow: 0 4px 4px 0 #8181818f;
}

.tabFoodOverallData,
.tabFoodOverallData div {
  width: 100%;
}

.tabFoodOverallData {
  margin: 0 0 0 30px;
}

.tabFoodOverallData hr,
.serving hr {
  border: 1px solid #e5e5e5;
}

.tabFoodOverallData hr {
  width: 85%;
}

.tabFoodOverallData div {
  margin: 15px auto;
}

.serving > div {
  margin: 30px 0;
  justify-content: space-between;
}

.tabFoodOverallData div:first-child {
  font-size: 20px;
}

.editButton span {
  padding-left: 5px;
}

.tabFoodOverallData div span {
  display: inline-block;
}

.tabFoodOverallData div span:first-child {
  color: #585858;
  margin-left: 25px;
  width: 33%;
}

.tabFoodOverallData div span:last-child {
  color: #909090;
}

.h2,
.serving > div div:first-child {
  font-weight: 500;
}

.serving > div div:last-child {
  text-align: right;
}

.serving > div div:last-child,
.editButton {
  color: #979797;
}

.editButton {
  width: fit-content;
  margin-left: auto;
}

.addButton {
  border: 2px solid;
  width: 50%;
  padding: 14px 0;
  font-size: 15px;
  line-height: 18px;
  border-color: #909090;
  box-shadow: 0 4px 4px 0 #8181818f;
  margin: 0 auto;
  margin-top: 50px;
}
