.plusSign,
.addItemsWrapper,
.eachAddMealButton,
.navAddButtonContainer {
  position: absolute;
}

.navAddButtonContainer {
  display: flex;
}

.addButton {
  cursor: pointer;
}

.plusSign {
  left: 50%;
  transform: translate(-50%, -50%);
  top: 50%;
  transition: 0.5s ease-out;
}

.plusSign.active {
  transform: translate(-50%, -50%) rotate(225deg);
  transform-origin: center;
}

.navAddButtonContainer.first {
  top: 66%;
}

.navAddButtonContainer {
  z-index: 2;
  height: fit-content;
  justify-content: space-around;
  font-weight: 500;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
}

.addItemsWrapper {
  width: 100%;
  height: fit-content;
  bottom: 95px;
  left: 0;
  z-index: 0;
}

.addItemsWrapper.first {
  top: 65%;
}

.eachAddMealButton {
  left: 50%;
  transform: translateX(-50%) scale(0.65);
  text-align: center;
  transition: .4s ease-out;
  cursor: pointer;
}

.mealName {
  margin-top: -48px;
  text-align: center;
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
  color: #005A36;
}

.eachAddMealButton div:last-child {
  opacity: 0;
}

.eachAddMealButton.active div:last-child {
  opacity: 1;
}

.eachAddMealButton.active:first-child {
  transform: translate(-200%, -78px);
}

.eachAddMealButton.active:last-child {
  transform: translate(100%, -78px);
}

.eachAddMealButton.active:nth-child(2) {
  transform: translate(-115%, -170px);
}

.eachAddMealButton.active:nth-child(3) {
  transform: translate(15%, -170px);
}
