/* todo: @shawn */
/* stylelint-disable no-descending-specificity */
/* 
* {
  border: 1px red solid;
} */

body {
  margin: 0;
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    'Roboto',
    'Oxygen',
    'Ubuntu',
    'Cantarell',
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 11px;
  line-height: 12.89px;
}

.page-container {
  width: 88%;
  margin: 0 auto;
}

.heading {
  margin: 40px 0;
  text-align: center;
}

.heading h1 {
  text-transform: uppercase;
}

h2 {
  font-weight: 500;
  font-size: 20px;
}

a {
  color: inherit;
  text-decoration: none;
}

.serving-size,
.ingredient {
  display: flex;
}

.meal-name {
  font-size: 22px;
  line-height: 26px;
}

.add {
  border: 2px solid;
  width: 50%;
  padding: 14px 0;
  text-align: center;
  font-size: 15px;
  line-height: 18px;
  font-weight: 700;
}

.add {
  border-color: #909090;
  color: black;
  box-shadow: 0 4px 4px 0 #8181818f;
}

#food-nutrition-info-container div:first-child {
  font-size: 20px;
  margin: 18px 0 29px;
}

#food-nutrition-info-container .food-nutrition-type {
  color: #909090;
}

#food-nutrition-info-container .food-nutrition-value {
  color: #585858;
}

.serving-size {
  margin: 39px 0;
}

.ingredient {
  margin: 30px 0;
}

.serving-size,
.ingredient {
  justify-content: space-between;
}

.serving-size,
.ingredient,
.ingredient-name,
.edit-ingredients {
  font-size: 16px;
}

.ingredient-name {
  font-weight: 500;
}

.ingredient-amount,
.edit-ingredients {
  text-align: right;
  color: #979797;
  padding-right: 10px;
}

.edit-ingredients {
  width: fit-content;
  margin-left: auto;
}

.edit-ingredients span {
  padding-left: 5px;
}

.add {
  margin: 0 auto;
  margin-top: 50px;
}
